body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #b18925;
    color: white;
    padding: 20px;
    font-size: 28px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    height: 500px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 100px;
    border: 2px solid burlywood;
    font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card p {
    margin-top: 5px;
    font-size: 14px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

